# minimal needed while testing out the application

services:
  db:
    image: mongo:8
    restart: unless-stopped
    ports:
      - 27017:27017

  minio:
    image: "minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1"
    environment:
      MINIO_ROOT_USER: AKIAIOSFODNN7EXAMPLE
      MINIO_ROOT_PASSWORD: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    ports:
      - 9000:9000
      - 9001:9001
    command: ["server", "start"]
    #volumes:
      #- "./tmp/minio:/data"

  jupyterlab:
    build:
      context: './devtools/jupyterlab'
    ports:
      - 8888:8888
    volumes:
      - './devtools/jupyterlab/work:/home/jovyan/work'
    command: ["start-notebook.py", "--NotebookApp.token=''"]
