{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Run - {{ run.runid }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<table style="width:50%">
  <tr>
    <td>User</td>
    <td>{{ run.user }}</td>
  </tr>
  <tr>
    <td>Host</td>
    <td>{{ run.host }}</td>
  </tr>
  <tr>
    <td>State</td>
    <td>{{ run.state }}</td>
  </tr>
  <tr>
    <td>Comment</td>
    <td>{{ run.rcomment }}</td>
  </tr>
  <tr>
    <td>Tokamak</td>
    <td>{{ run.tokamak }}</td>
  </tr>
  <tr>
    <td>Shot No.</td>
    <td>{{ run.shotno }}</td>
  </tr>
  <tr>
    <td>Sim Name</td>
    <td>{{ run.simname }}</td>
  </tr>
  <tr>
    <td>Start At</td>
    <td>{{ run.startat }}</td>
  </tr>
  <tr>
    <td>Stop At</td>
    <td>{{ run.stopat }}</td>
  </tr>
  <tr>
    <td>Sim Run ID</td>
    <td>{{ run.sim_runid }}</td>
  </tr>
  <tr>
    <td>Output Prefix</td>
    <td>{{ run.outputprefix }}</td>
  </tr>
  <tr>
    <td>Tag</td>
    <td>{{ run.tag }}</td>
  </tr>
  <tr>
    <td>IPS version</td>
    <td>{{ run.ips_version }}</td>
  </tr>
  <tr>
    <td>Trace</td>
    {% if run.state == "Completed" %}
    {% if run.trace is defined %}
    <td><a href="{{ url_for('.gettrace', runid=run.runid) }}">trace</a></td>
    {% else %}
    <td>no trace information available</td>
    {% endif %}
    {% else %}
    <td>wait for run to finish</td>
    {% endif %}
  </tr>
</table>
<h1>Events</h1>
<table style="width:100%">
  <tr>
    <th>Time</th>
    <th>Seq Num</th>
    <th>Event Type</th>
    <th>Code</th>
    <th>Walltime</th>
    <th>Physics Time</th>
    <th>Comment</th>
  </tr>
  {% for event in events%}
  <tr>
    <td>{{ event.created }}</td>
    <td>{{ event.seqnum }}</td>
    <td>{{ event.eventtype }}</td>
    <td>{{ event.code }}</td>
    <td>{{ event.walltime }}</td>
    <td>{{ event.phystimestamp }}</td>
    <td>{{ event.comment }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
