{% extends 'base.html' %}

{% block header %}
<h4>{% block title %}Run - {{ run.runid }}{% endblock %}</h4>
<script src="{{ url_for('static', filename='event-table.js') }}" defer></script>
{% endblock %}

{% block content %}
<table class="table table-sm table-primary table-bordered" style="width:50%">
  <tbody>
  <tr>
    <th>User</th>
    <td>{{ run.user }}</td>
  </tr>
  <tr>
    <th>Host</th>
    <td>{{ run.host }}</td>
  </tr>
  <tr>
    <th>State</th>
    <td>{{ run.state }}</td>
  </tr>
  <tr>
    <th>Comment</th>
    <td>{{ run.rcomment }}</td>
  </tr>
  <tr>
    <th>Tokamak</th>
    <td>{{ run.tokamak }}</td>
  </tr>
  <tr>
    <th>Shot No.</th>
    <td>{{ run.shotno }}</td>
  </tr>
  <tr>
    <th>Sim Name</th>
    <td>{{ run.simname }}</td>
  </tr>
  <tr>
    <th>Start At</th>
    <td>{{ run.startat }}</td>
  </tr>
  <tr>
    <th>Stop At</th>
    <td>{{ run.stopat }}</td>
  </tr>
  <tr>
    <th>Sim Run ID</th>
    <td>{{ run.sim_runid }}</td>
  </tr>
  <tr>
    <th>Output Prefix</th>
    <td>{{ run.outputprefix }}</td>
  </tr>
  <tr>
    <th>Tag</th>
    <td>{{ run.tag }}</td>
  </tr>
  <tr>
    <th>IPS version</th>
    <td>{{ run.ips_version }}</td>
  </tr>
  <tr>
    <th>Trace</th>
    {% if run.has_trace %}
    <td><a href="{{ url_for('trace.gettrace', runid=run.runid) }}">trace</a></td>
    {% else %}
    <td>no trace information available</td>
    {% endif %}
  </tr>
  <tr>
    <th>Resource usage</th>
    {% if run.state == "Completed" %}
    {% if run.has_trace %}
    <td><a href="{{ url_for('resourceplot.resource_plot', runid=run.runid) }}">plot</a></td>
    {% else %}
    <td>no trace information available</td>
    {% endif %}
    {% else %}
    <td>wait for run to finish</td>
    {% endif %}
  </tr>
  <tr>
    <th>Download</th>
    <td><a href="api/run/{{run.runid}}/events" download="{{run.portal_runid}}.json">Events (json)</a></td>
  </tr>
  </tbody>
</table>
<h4>Events</h4>
<div class="table-responsive">
<table id="event-table" class="table table-striped table-secondary table-bordered" style="width:100%" runid={{ run.runid }}>
  <thead>
  <tr>
    <th>Time</th>
    <th>Seq Num</th>
    <th>Event Type</th>
    <th>Code</th>
    <th>Walltime</th>
    <th>Physics Time</th>
    <th>Comment</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
{% endblock %}
