{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Runs{% endblock %}</h1>
{% endblock %}

{% block content %}
<table style="width:100%">
  <tr>
    <th>RunID</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Sim Name</th>
    <th>Host</th>
    <th>User</th>
    <th>Start Time</th>
    <th>Stop Time</th>
  </tr>
  {% for run in runs%}
  <tr>
    <td><a href="{{ url_for('.run', runid=run.runid) }}">{{ run.runid }}</a></td>
    <td>{{ run.state }}</td>
    <td>{{ run.rcomment }}</td>
    <td>{{ run.simname }}</td>
    <td>{{ run.host }}</td>
    <td>{{ run.user }}</td>
    <td>{{ run.startat }}</td>
    <td>{{ run.stopat }}</td>
  </tr>
  {% endfor %}
</table>

<p style="text-align:center">
{% if page.page > 1 %}
<a href="{{ url_for('.index', page=page.page-1 if page.page > 2 else None, rows=page.rows if page.rows != page.rows_default else None, sort=sort.by if sort.by != sort.default else None, direction=sort.direction if sort.direction != sort.direction_default else None) }}">&lt</a>
{% else %}
&lt
{% endif %}
{% for p in range(1, page.num_pages+1) %}
{% if p == page.page %}
<b>{{ p }}</b>
{% else %}
<a href="{{ url_for('.index', page=p if p != 1 else None, rows=page.rows if page.rows != page.rows_default else None, sort=sort.by if sort.by != sort.default else None, direction=sort.direction if sort.direction != sort.direction_default else None) }}">{{ p }}</a>
{% endif %}
{% endfor %}
{% if page.page < page.num_pages %}
<a href="{{ url_for('.index', page=page.page+1, rows=page.rows if page.rows != page.rows_default else None, sort=sort.by if sort.by != sort.default else None, direction=sort.direction if sort.direction != sort.direction_default else None) }}">&gt</a>
{% else %}
&gt
{% endif %}
</p>

{% endblock %}
