{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Runs{% endblock %}</h1>
{% endblock %}

{% block content %}

{% set rows = page.rows if page.rows != page.rows_default else None %}
{% set p = page.page if page.page !=1 else None %}
{% set sortby = sort.by if sort.by != sort.default else None %}
{% set direction = sort.direction if sort.direction != sort.direction_default else None %}
{% set ndirection = -sort.direction if -sort.direction != sort.direction_default else None %}

<table style="width:100%">
  <tr>
    {% for column in columns %}
    {% if column.param in sort.sortable %}
    <th>
      {% if column.param == sort.default %}
      {% set column_sort = None %}
      {% else %}
      {% set column_sort = column.param %}
      {% endif %}

      {% if column.param == sort.by %}
      <a href="{{ url_for('.index', sort=column_sort, page=p, rows=rows, direction=ndirection) }}">
	{{ column.name }}
	{% if sort.direction == 1 %}
	&#8593
	{% else %}
	&#8595
	{% endif %}
      </a>
      {% else %}
      <a href="{{ url_for('.index', sort=column_sort, page=p, rows=rows, direction=direction) }}"> {{ column.name }} </a>
      {% endif %}
    </th>
    {% else %}
    <th>{{ column.name }}</th>
    {% endif %}
    {% endfor %}
  </tr>
  {% for run in runs%}
  <tr>
    {% for column in columns %}
    {% if column.param == 'runid' %}
    <td><a href="{{ url_for('.run', runid=run.runid) }}">{{ run.runid }}</a></td>
    {% else %}
    <td>{{ run.get(column.param) }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>


<p style="text-align:center">
{% if page.page > 1 %}
<a href="{{ url_for('.index', page=page.page-1 if page.page > 2 else None, rows=rows, sort=sortby, direction=direction) }}">&lt</a>
{% else %}
&lt
{% endif %}
{% for p in range(1, page.num_pages+1) %}
{% if p == page.page %}
<b>{{ p }}</b>
{% else %}
<a href="{{ url_for('.index', page=p if p != 1 else None, rows=rows, sort=sortby, direction=direction) }}">{{ p }}</a>
{% endif %}
{% endfor %}
{% if page.page < page.num_pages %}
<a href="{{ url_for('.index', page=page.page+1, rows=rows, sort=sortby, direction=direction) }}">&gt</a>
{% else %}
&gt
{% endif %}

</p>
<p style="text-align:center">
<select onChange="window.location.href=this.value">
  <option value="">Rows per page</Option>
  <option value={{ url_for('.index', page=p, rows=10, sort=sortby, direction=direction) }}>10</option>
  <option value={{ url_for('.index', page=p, rows=None, sort=sortby, direction=direction) }}>20</option>
  <option value={{ url_for('.index', page=p, rows=50, sort=sortby, direction=direction) }}>50</option>
  <option value={{ url_for('.index', page=p, rows=100, sort=sortby, direction=direction) }}>100</option>
</select>

</p>

{% endblock %}
